<h1 class="text-center">Sign up with TriviArr!</h1>

<%= form_with(model: @user, local: true) do |f| %>
	<%= render 'form', user: @user, f: f %>

	<%= f.password_field :password, class: "form-control mb-2", placeholder: "Password"  %>

	<div class="actions">
	  <%= f.submit "Submit", class: "form-control btn btn-success" %>
	</div>

<% end %>

<%= link_to 'Back', root_path, class: "btn btn-secondary w-100 text-white" %>