<div class="row text-center">
	<div class="col">
		<h1><%= @user.full_name %></h1>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		Score: <%=@user.score%>
	</div>
</div>

<% if signed_in? && (current_user.id == @user.id) %>
	<div class="row text-center">
		<div class="col">
			<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-link text-white" %>
		</div>
	</div>
<% end %>

<hr />
<div class="row">
	<div class="col text-center">
		<a href="" id="show-badges-toggle" style="color: white">
			<h3>
				Badges (<%=@badges.size%>)
				<i class="fas fa-caret-down" id="drop-down"></i>
				<i class="fas fa-caret-up d-none" id="drop-up"></i>
			</h3>
		</a>

		<div class="row d-none" id="badges-container">
			<%= render partial: 'users/badge', collection: @badges%>
		</div>
		</div>
</div>

<hr />
<div class="row">
	<div class="col text-center">
		<h3>Statistics</h3>
	</div>
</div>

<div class="row my-1">
	<div class="col">
		<div id="pie_1"></div>
	</div>
</div>

<div class="row my-1">
	<div class="col">
		<div id="bar_1"></div>
	</div>
</div>

<div class="row my-1">
	<div class="col">
		<div id="pie_2"></div>
	</div>
</div>

<script>

	$(document).ready(function()	{

		$("#show-badges-toggle").on('click', function(event)	{
			event.preventDefault();
			$("#badges-container").toggleClass('d-none');
			$("#drop-down").toggleClass('d-none');
			$("#drop-up").toggleClass('d-none');
		});

		$.ajax({
				url: "<%=user_stats_path(@user.id)%>",
				method: "GET",
				dataType: "JSON",
				success: function(response)	{
					
					// For the pie chart (categories of correctly answered questions)
					categories = [...new Set(response.correct.map(q => q.category))]
					
					let pie_1_data = 	[{
											values: categories.map(c => response.correct.filter(q => q.category == c).length),
											labels: categories,
											type: 'pie',
										}]

					let  pie_1_layout = {
											title: "Correct answers by category",
											showlegend: false
					}

					Plotly.newPlot('pie_1', pie_1_data, pie_1_layout, {responsive: true, displayModeBar: false})

					// For the stacked bar chart (correct/wrong answer count by category)
					all_questions = response.correct.concat(response.incorrect)
					all_cats = [...new Set(all_questions.map(q => q.category))]

					q_cat_correct = all_cats.map(c => response.correct.filter(q => q.category == c).length)
					q_cat_incorrect = all_cats.map(c => response.incorrect.filter(q => q.category == c).length)

					let correct_questions = 	{
													x: all_cats,
													y: q_cat_correct,
													name: "Correct",
													type: 'bar'
												}

					let incorrect_questions = 	{
													x: all_cats,
													y: q_cat_incorrect,
													name: "Incorrect",
													type: 'bar'
												}

					let bar_1_data = [correct_questions, incorrect_questions]

					let bar_1_layout = {
											title: "Correct/Incorrect answers by category",
											barmode: 'stack',
											showlegend: false,
											margin: {
												l: 50,
												r: 50,
												b: 150,
												t: 50,
												pad: 0,
											}

					}

					Plotly.newPlot('bar_1', bar_1_data, bar_1_layout, {responsive: true, displayModeBar: false})

					// For the pie chart (correct vs wrong)
					let pie_2_data = 	[{
											values: [response.correct.length, response.incorrect.length],
											labels: ["Correct", "Incorrect"],
											type: 'pie',
										}]

					let  pie_2_layout = {
											title: "Correct vs Incorrect answers",
											showlegend: false
					}

					Plotly.newPlot('pie_2', pie_2_data, pie_2_layout, {responsive: true, displayModeBar: false})										


				}
		});

	});

</script>