<!DOCTYPE html>
<html>
  <head>
    <title>TriviArr!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>
    <div class="container-fluid" style="overflow-x: hidden">

    <nav class="row">
      <!--Dropdown menu only seen when signed in-->
      <div class="col text-left">
        <% if signed_in? %>

          <div class="dropdown show">
            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none !important;">
              <i class="fas fa-bars"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "My Profile", user_path(current_user), class: "dropdown-item"%>
              <%= link_to "Play a Game!", new_trial_path, class: "dropdown-item"%>
              <%= link_to "Search Users", search_path, class: "dropdown-item"%>
            </div>

          </div>

        <% end %>
      </div>

      <!--Logo-->
      <div class="col text-center py-1">
        <a href="<%=root_path%>" id="logo">
          <%='<i class="fas fa-skull-crossbones"></i>'.html_safe%>
        </a>
      </div>

      <!--Signin/Signout controls-->
        <div class="col text-right">
          <% if signed_in? %>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signoutModal">
              <i class="fas fa-power-off"></i>
            </button>
          <% else %>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signinModal">
              <i class="fas fa-sign-in-alt"></i>
            </button>
          <% end %>
        </div>

    </nav>

    <div class="row" id="flash-message">
      <% if flash[:notice] %>
        <div class="col notice text-center"><%= flash[:notice] %></div>
      <% end %>
    </div>

    <div class="row text-white" style="background-color: #333; min-height: 94vh">
      <div class="col p-1">
        <%= yield %>
      </div>
    </div>

  </div>

    <!-- MODALS -->
    <!-- SIGN IN -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signinModalLabel">Log in to TriviArr!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with url: session_path do |f| %>
              <%= f.text_field :email, class: "form-control w-100", placeholder: "Email Address" %> <br />
              <%= f.password_field :password, class: "form-control w-100", placeholder: "Password" %> <br />
              <%= f.submit "Login!", class: "form-control btn btn-primary w-100 mb-2"%>
              <%= link_to "Login with Google", "/auth/google_oauth2", class: "btn btn-primary w-100 text-white" %>
            <% end %>

            <hr class="hr-text" data-content="or"/>
            <%= link_to "Sign Up", new_user_path, class: "btn btn-info w-100 text-white" %>

          </div>
        </div>
      </div>
    </div>

    <!--SIGN OUT-->
    <div class="modal fade" id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="signoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signoutModalLabel">Confirm Logout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with url: end_session_path, method: :delete do |f| %>
              <%= f.submit "Logout", class: "form-control btn btn-danger w-100"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!--Scripts-->
    <script>
      // Flash message disappears after a certain duration
      $(function() {
        setTimeout(function(){
          $('#flash-message').slideUp(500);
        }, 1000);

      // Tooltips on
      $('[data-toggle="tooltip"]').tooltip()

      });


    </script>



  </body>
</html>